.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.h1 {
    text-align: center;
    margin-bottom: 20px;
}

/*.kotak_mas{
    width: 1000px;
	background: #ffff;
	/*meletakkan form ke tengah*/
	/*margin: 80px auto;
	padding: 30px 20px;
	box-shadow: 0px 0px 30px 2px #5a5a5a;
}*/

.form label {
    display: block;
    margin-bottom: 10px;
}

form input[type="text"],
form input[type="date"],
form textarea,
form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #45a049;
}